@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html,
body,
* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color:transparent;
}

a {
  border-bottom: solid 1px transparent;
}

ul,li{
  list-style: none;
}

input{
  border: 0;
  outline: 0;
}
button{
  outline: 0;
  
}

/* Hide scrollbar by calling .element */
.element::-webkit-scrollbar {
  display: none;
}

/* ! grid for salon details */
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 1 / 3 / 2;
}

.div3 {
  grid-area: 1 / 2 / 2 / 3;
}

.div4 {
  grid-area: 2 / 2 / 3 / 3;
}

.div5 {
  grid-area: 1 / 3 / 2 / 4;
}

.div6 {
  grid-area: 2 / 3 / 3 / 4;
}
